.hero-container {
  position: relative;
  z-index: 100;
}

.hero-text {
  position: relative;
  z-index: 200;
}

.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.card-original-title,
.card-overview {
  overflow: hidden;
}

.card-original-title {
  height: 3rem;
}

.card-overview {
  height: 4.3rem;
}

.card-img-top-custom {
  width: 304px;
  height: 456px;
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
  background-image: url(https://t3.ftcdn.net/jpg/03/34/83/22/360_F_334832255_IMxvzYRygjd20VlSaIAFZrQWjozQH6BQ.jpg);
  background-size: cover;
}
